#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: beige;
}


 body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: beige;
}

.title {
  font-size: 48px;
  color: navy;
  text-shadow: 1.5px 1.5px 0px grey, 3px 3px 0px darkgrey, 0px 0px 2px forestgreen, 0px 0px 5px forestgreen;
  font-family: 'Montserrat', sans-serif;
}

.title:hover {
  text-shadow: 2px 2px 0px grey, 4px 4px 0px darkgrey, 0px 0px 5px forestgreen, 0px 0px 8px forestgreen;
  transform: scale(0.99); /* Slightly increase the size on hover */
  cursor: default;
}

.subtitle-box {
  background-color: lightgrey;
  color: darkred;
  padding-left: 155px;
  padding-right: 155px;
  padding-top: 1px;
  padding-bottom: 2px;
  line-height: 1.75;
}

.list-section {
    padding-top: 20px;
    background-color: rgb(223, 235, 239);
    color: darkred;
}

